@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #FFCC00;
  padding: 10px;
}

.navbar-brand {
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
  align-items: flex-start;
  justify-content: left;
}

.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.card {
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin: 10px;
  height: 150px;
  width: 250px;

}

.card-heading {
  font-size: 24px;
  margin-bottom: 10px;
  word-break: break-word;
}

.card-description {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  word-break: break-word;
}

.form {
  border-left: 2px solid #FFCC00;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.inputHeading {
  width: 80%;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #666;
  font-size: medium;
  padding: 5px;
}

.inputDescription {
  width: 80%;
  height: 200px;
  border-radius: 5px;
  border: 2px solid #666;
  font-size: small;
  padding: 5px;
}

.btnsUpdate {
  display: flex;
  width: 84%;
  justify-content: space-between;
}

.Btn {
  width: 40%;
  height: 50px;
  font-weight: 600;
  font-size: 1.2rem;
  border: 2px solid #666;
  border-radius: 5px;
  background-color: #FFCC00;
  cursor: pointer;
}

.btnDelete {
  width: 20%;
  height: 50px;
  font-weight: 600;
  font-size: 1.2rem;
  border: 2px solid #666;
  border-radius: 5px;
  background-color: rgb(206, 0, 0);
  color: black;
  cursor: pointer;
}

footer {
  background-color: #FFCC00;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto auto;
    height: 70vh;
  }

  .card {
    width: 200px;
    height: 120px;
  }

  .form {
    padding: 5px;
    /* min-width: 30vw; */
  }
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: 100%;
  }

  .grid {
    justify-content: center;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* width: 90vw; */
  }

  .inputHeading {
    width: 300px;
  }

  .label {
    display: flex;
    flex-direction: column;
  }

  .inputDescription {
    width: 300px;
  }

  .Btn {
    width: 25%;
    margin-top: 10px;
  }

  .btnsUpdate {
    width: 50%;
  }

  .btnDelete {
    margin-top: 10px;
  }

  .topHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .grid {
    grid-template-columns: auto;
  }

  .card {
    width: 300px;
    height: 120px;
  }

  .Btn {
    font-size: 0.99rem;
  }

  .btnsUpdate {
    width: 80%;
  }
}